.search-page {
    margin: 0 auto;
    padding: 70px;
    padding-top: 0px;
    font-family: 'Poppins', sans-serif;
    color: #000;
    background-color: #2D2F3A !important;
  }

  .search-filter-container h1 {
    color: white;
  }
  
  .search-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    padding: 10px;
    width: 25%;
    border: 1px solid #ccc;
    border-radius: 15px; /* Increased from 10px to 15px for a softer roundness */
    font-size: 16px;
  }
  
  .filter-dropdown {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    width: 200px;
  }
  
  /* Grid layout for pet cards */
  .pet-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .pet-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .pet-list {
      grid-template-columns: 1fr;
    }
  
    .search-filter-container {
      flex-direction: column;
      gap: 10px;
    }
  
    .search-input, .filter-dropdown {
      width: 100%;
    }
  }
  